{{#each data}}
<li>
    <p class="classify-0 gray-bg cify-{{@index}}" data-id="{{id}}" data-index="{{@index}}">
        {{name}}
        <span>+</span>
    </p>
    <ul class="first-list">
        {{#each child}}
            <li class="classify-1-item">
                <p  class="classify-1" data-id="{{id}}">{{name}}</p>
                <ul>
                    {{#each child}}
                        <li class="classify-2-item" data-index="{{id}}">
                            <span data-id="{{id}}"></span>
                            <p class="classify-2" data-id="{{id}}">{{name}}</p>
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
</li>
{{/each}}
