{{#each data}}
<form class="horizontal title-option-form" action="">
    <div class="form-group">
        <label for="title">标题:</label>
        <input value="{{txt.value}}" data-index="{{@index}}" name="value" type="text" placeholder="{{txt.placeholder}}">
    </div>
    <div class="form-group">
        <label for="fontcolor">颜色:</label>
        <input data-index="{{@index}}" class="color small" name="fontColor" type="text" value="{{txt.fontColor}}" {{#if controlFont.color}}{{else}}disabled="disabled" style="display: none"{{/if}}>
    </div>
    <div class="form-group">
        <label for="fontFamily">字体:</label>
        <select data-index="{{@index}}" name="fontFamily" id="" class="small" {{#if controlFont.family}}{{else}}disabled="disabled" style="display: none"{{/if}}>
            <option value="cnYAHEI" {{#compare txt.fontFamily '==' 'cnMSYH'}}{{/compare}} class="cnYAHEI">微软雅黑细</option>
            <option value="cnYAHEIBD" {{#compare txt.fontFamily '==' 'cnMSYHBD'}}{{/compare}} class="cnYAHEI">微软雅黑粗</option>
            <option value="cnFZZCHJT" {{#compare txt.fontFamily '==' 'cnFZZCHJT'}}{{/compare}} class="cnFZZCHJT">方正正粗黑简体</option>
            <option value="cnZHSRZJ" {{#compare txt.fontFamily '==' 'cnZHSRZJ'}}{{/compare}} class="cnZHSRZJ">张海山锐线体简</option>
            <option value="enJonahRegular" {{#compare txt.fontFamily '==' 'enJonahRegular'}}{{/compare}} class="enJonahRegular">Jonah Regular</option>
        </select>
    </div>
    <div class="form-group">
        <label for="fontSize">字号:</label>
        <input data-index="{{@index}}" class="small" name="fontSize" type="text" value="{{txt.fontSize}}" {{#if controlFont.size}}{{else}}disabled="disabled" style="display: none"{{/if}}> px
    </div>
    <div class="form-group">
        <label for="x">X:</label>
        <input data-index="{{@index}}" class="small" name="x" type="text" value="{{x}}" placeholder="默认居中" {{#if controlCoordinate.x}}{{else}}disabled="disabled" style="display: none"{{/if}}>
    </div>
    <div class="form-group">
        <label for="y">Y:</label>
        <input data-index="{{@index}}" class="small" name="y" type="text" value="{{y}}" placeholder="默认居中" {{#if controlCoordinate.y}}{{else}}disabled="disabled" style="display: none"{{/if}}>
    </div>

    <!-- <div class="form-group button-group">
        <a data-index="{{@index}}" class="button button-big" id="submitTxt" href="javascript:;">添加</a>
    </div> -->
</form>
{{/each}}
