{{#each data}}
<div class="card rotate-card">
    <div class="card-wrap">
        <div class="front">
            <div class="theme clearfix"  data-id="{{_id}}">
                <span class="theme--delete" data-id="{{_id}}">x</span>
                <p class="theme-title">{{id}}:{{name}}</p>
                <ul class="theme-tag clearfix">
                    {{#each child}}
                        <li class="theme-tag-item" data-id="{{_id}}">
                            <span class="id-tag">{{id}}</span>
                            <input type="text" value="{{name}}" disabled="disabled">
                            <!--<span class="theme-tag-item--delete">x</span>-->
                        </li>
                    {{/each}}
                </ul>
            </div>

            <span class="rotate-btn"></span>
        </div>
        <div class="back">卡片背面<span class="rotate-btn"></span></div>
    </div>
</div>
{{/each}}
